@use 'colors' as *;
@use 'variables' as *;

body {
    font-family: 'Onest', sans-serif;
}

.container {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 40px;
}

h1, h2, h3 {
    font-family: 'Neucha', sans-serif;
    color: $darkGreen;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

.link {
    text-decoration: none;    

    &--green {
        color: $darkGreen;
    }

    &--bald {
        font-weight: 600;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    .container {
        padding: 0 20px;
    }    
}