@use '../base' as *; 

.profile {

    min-height: calc(100vh - 280px);

    &__container {
        padding-top: 40px;
        padding-bottom: 140px;
    }

    &__info {
        margin-top: 40px;
        display: flex;
        gap: 32px;
    }

    &__img {
        border-radius: 50%;
    }

    &__data {
        flex: 1;
    }

    &__item {
        margin-bottom: 24px;
        h2 {
            margin-bottom: 12px;
        }
    }

    &__kids {
        margin-top: 48px;

        h3 {
            margin-top: 24px;
        }
    }

}

.profile-edit {
    padding-top: 40px;
    min-height: calc(100vh - 280px);

    h1 {
        margin-bottom: 32px;
    }

    .profile {
        &__picture {
            margin-bottom: 32px;
        }

        &__avatar {
            max-width: 200px;
            background-image: url('data:image/svg+xml,<%3Fxml version="1.0"%3F><svg class="feather feather-edit" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"/></svg>');        
            background-position: top right;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        &__avatars {
            display: none;
            flex-wrap: wrap;
            justify-content: center;
            gap: 32px;
        }

        &__image {
            cursor: pointer;
        }
    }

}


@media (max-width: 800px) {
    .profile {
        &__info {
            flex-direction: column;
        }

        &__picture {
            img {
                max-width: 100% ;
            }
        }
    }

    .profile-edit {

        .profile {
            &__image {
                img {
                    max-width: 100px;
                }
            }
        }

    }
}