@use '../base' as *; 

.article {        
    padding-top: 60px;
    padding-bottom: 60px;

    &__container {
        display: flex;
        gap: 32px;
    }

    &__image {
        img {
            max-width: 500px;
        }
    }

    &__text {
        padding-left: 64px;
    }

    &__santas {
        margin-top: 64px;
        display: flex;
        flex-wrap: wrap;
        gap: 64px;
        justify-content: center;
    }

    &__santa {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
        position: relative;

        &--image {
            background-color: $yellow;
            display: flex;        
            align-items: center;
            justify-content: center;
            padding: 10px;
            border-radius: 50%;

            img {
                border-radius: 50%;
            }
        }
        &--name {
            font-weight: 600;
            color: $darkGreen;
        }

        &--wishlist {
            display: none;
            position: absolute;
            background-color: $lightBlue;
            border: 1px solid $green;
            padding: 12px;
            font-size: 12px;
            top: 0;
            left: 0;
            border-radius: 6px;
            z-index: 10;
        }

        &:hover {
            .article__santa--wishlist {
                display: block;                
            }
        }
    }
}

@media (max-width: 800px) {
    .article {
        
        &__container {
            flex-direction: column;
            align-items: center;
        }

        &__image {
            img {
                max-width: 300px;
            }
        }

        &__text {
            padding-left: 0;
        }

        &__santas {
            gap: 32px;
        }
        
        &__santa {

            img {
                width: 100px;
                height: 100px;
            }

        }
    }
}