@use '../base' as *; 

.article {        
    padding-top: 60px;

    &__container {
        display: flex;
        gap: 32px;
    }

    &__text {
        padding-left: 64px;
    }

    &__santas {
        margin-top: 64px;
        display: flex;
        flex-wrap: wrap;
        gap: 64px;
    }

    &__santa {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;

        &--image {
            background-color: $yellow;
            display: flex;        
            align-items: center;
            justify-content: center;
            padding: 10px;
            border-radius: 50%;

            img {
                border-radius: 50%;
            }
        }
        &--name {
            font-weight: 600;
            color: $darkGreen;
        }
    }
}