@use '../base' as *; 

.banner {
    min-height: calc(100vh - 80px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    &__container {
        display: flex;
        align-items: center;
        padding-top: 140px;
        padding-bottom: 60px;
        gap: 32px;
    }

    &__text {
        padding-right: 60px;
        max-width: 600px;
        p {
            margin-top: 16px;
        }
    }
    &__image {
        border-radius: 50%;
        border: 30px solid rgba(255, 255, 255, 0.6);
        height: 600px;
        width: 600px;
        display: flex;
        justify-content: center;
        background-color: $orange;
        
        img {
            height: 100%;
        }
    }
}

@media (max-width: 800px) {
    .banner {
        &__container {
            padding-top: 60px;            
            flex-direction: column;
        }

        &__text {
            padding-right: 0;
        }
    }
}