@use '../base' as *; 

.footer {
    height: 200px;
    padding-top: 120px;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: #D9F7FF;
    border-top: 2px solid $green;
}