@use '../base' as *;  


.header__menu {
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &--item {
        margin-left: 32px;
        text-decoration: none;
        color: white;
        font-weight: 500;
    }
}
