@use "elements/buttons";
@use "elements/forms";
@use "elements/header";
@use "elements/footer";
@use "elements/menu";
@use "elements/banner";
@use "elements/article";
@use "elements/counter";

@use "pages/page404";
@use "pages/register";
@use "pages/profile";